{% extends base_path %}

{% block content %}
<form method = "post" action="#">
{% csrf_token %}
    <ul>
        <li>
            Categort to edit: 
            <select name = 'category'>
                {% for i in categories %}
                    <option value = {{i.id}}>{{i.name}} </option>
                {% endfor %}
            </select>
        </li>
        <li>
            New name: <input type = "text" name = "name">
        </li>
        <li>
            New description: <input type = "text" name = "description">
        </li>
    </ul>
    <button type="submit" class = "success">Edit</button>
</form>
{% endblock %}